#WORK_DIR="${BASE_DIR}/work"
#APP_DIR="${BASE_DIR}/src"

#DI_DEF_FILE="${APP_DIR}/Dependencies.php"
#DI_CMPL_DIR="${WORK_DIR}/php-di"
#DI_PRXY_DIR="${WORK_DIR}/php-di/proxies"

#LOG_DIR="${BASE_DIR}/logs"
#LOG_NAME="Slim"
#LOG_FILE="${LOG_DIR}/${LOG_NAME}.log"
#LOG_LEVEL="ERROR"

#SLIM_DISP_ERR_DETAILS=0
#SLIM_LOG_ERR=1
#SLIM_LOG_ERR_DETAILS=0

#SESSION_CACHE_NAME="SESSION_CACHE"
#APP_CACHE_NAME="APP_CACHE"
#APP_CACHE_DIR="${WORK_DIR}/app-cache"

#TMPL_DIR="${BASE_DIR}/templates"
#SLIM_TMPL_DIR="${SLIM_DIR}/../templates"
#TMPL_CACHE_DIR="${WORK_DIR}/templates"

#SERVER_OPT_HTTPS="On"

#SESSION_OPT_USE_STRICT_MODE=1
#SESSION_OPT_COOKIE_HTTPONLY=1
##SESSION_OPT_COOKIE_SECURE=1
#SESSION_OPT_COOKIE_SAMESITE='Lax'
#SESSION_OPT_COOKIE_LIFETIME=7200
#SESSION_OPT_GC_MAXLIFETIME=7200
#SESSION_OPT_SID_LENGTH=48
#SESSION_OPT_SID_BITS_PER_CHARACTER=5